/*VARIABLES*/
:root{
--color-fondo: #F3F5FC;
--color-principal:  #0acdc3;
--color-secundario: #6196f9;
--color-terciario: #f878fa;
--color-auxiliar1: #AAB2D5 ;
--color-auxiliar2: #0A3871;
--color-auxiliar3: #bcc4cb;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Ysabeau Infant", sans-serif;
    line-height: 150%;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    position: absolute;
    z-index: 2;
    padding: 2rem;
}
textarea{
    resize: none;
}

.mensajeConfirmacion{
    display: none;
    transition: all 300ms ease-out;
}

.mensajeConfirmacion.activado{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-fondo);
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    height: 2rem;
    padding: 1.6rem 2rem;
    animation: mensajeConfirmacion 1.5s normal;
    margin-right: 7.5rem;
    background-color: var(--color-principal);
    font-weight: 700;
}
/*Animaciones*/
@keyframes mensajeConfirmacion{
    0% {transform: translateX(250px);}
    100% {transform: translateX(0px);}
}
@keyframes crecimiento {
    0% {
        transform: scale(0.1) translate(-50%, -50%);
        opacity: 0; 
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}
/*Estilo candados de encriptar y desencriptar*/
.cerrado, .abierto{
    display: none;
    width: 35%;
    transition: all 300ms ease-out;
    animation: crecimiento 2s normal;
    margin-left: 11rem;
    margin-top: 8.5rem;
    position: absolute;
}
.cerrado.activo, .abierto.activo{
    display: block;
}

/*Estilos del Logo de alura Latam*/
.logo {
    width: 3em;
    min-width: 2em;
    height: 3em;
    background-color: transparent;
    filter: invert(57%) sepia(65%) saturate(522%) hue-rotate(127deg) brightness(96%) contrast(92%);
}
.container{
    position: relative;
    display: flex;
    width: auto;
    background-color: var(--color-fondo);
    padding: 2%;
    height: calc(100vh - 2.2rem)  
}

.container_campotexto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 65%;
    row-gap: 10px;
}
.texto, .container_texto{
    border-radius: 15px;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
}
.container_texto{
    background-image: url('imagenes/FONDO2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    background: linear-gradient(
        rgba(247, 145, 236, 0.3),
        rgba(202, 232, 240, 0.1) 
    );
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 4%;
    color: white;
}
.texto:focus{
    outline: none;
}
::placeholder{
    color: var(--color-principal);
    font-size: 1.2em;
}
.informacion_general{
    color: var(--color-auxiliar3);
    font-size: 1em;
    margin-top: 20px;
}


/*Estilos de botones*/
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 30px;
    row-gap: 5px;
    padding: 0 1%;
}
.encriptar, .desencriptar, .boton_copiar{
    width: 12em;
    min-height: 45px;
    font-family: "Dosis", sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    border: 2px solid rgba(200,200,200, 0.6);
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-fondo);
    box-shadow: 0 0px 6px rgba(200, 200, 200, 0.6);
    transition: background-color 0.3s, transform 0.2s;
}
.encriptar, .desencriptar{
    min-width:20%;
}
.boton_copiar{
    min-width:45%;
    display: none;
}
.encriptar {
    background-color: var(--color-principal);
    border: 2px solid rgba(210,210,210, 0.6);
}
.encriptar:hover {
    background-color: var(--color-auxiliar1);
    transform: translateY(-2px);
}

.encriptar:active {
    background-color: var(--color-principal);
    transform: translateY(1px);
}
.desencriptar{
    background-color: var(--color-secundario);
}
.desencriptar:hover {
    background-color: var(--color-auxiliar1);
    transform: translateY(-2px);
    color: var(--color-fondo);
}
.desencriptar:active {
    background-color: var(--color-secundario);
    transform: translateY(1px);
}
.boton_copiar{
    background-color: var(--color-auxiliar2);  
}
.boton_copiar:hover {
    background-color: var(--color-auxiliar3);
    transform: translateY(-2px);
}
.boton_copiar:active {
    background-color: var(--color-auxiliar2);
    transform: translateY(1px);
}
.encriptar, .desencriptar, .boton_copiar:focus{
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(210,210,210, 0.5);
}
/*FIN DE ESTILOS BOTONES*/

/*Iconos*/
i{
    margin-right: 10px;
}

.container_arearesultado{
    min-width: 35%;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container_mensajeresultado{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width:95%;
    height: 90%;
    border-radius: 15px;
    gap: 20px;
    padding: 4%;
    background-image: url('imagenes/encrip1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: var(--color-fondo);
}
.mensaje_resultado{
    background: transparent;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    border: none;
    background-repeat: no-repeat;
    background-position: center; 
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-auxiliar2);
}
.mensaje_resultado:focus{
    outline: none;
}
.container_error{
    border-radius: 15px;
    padding: 2%;
    text-align: center;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container_error img{
    max-width: 100%;
    height: auto;
}
.mensajes_error{
    padding: 2%;
    height: auto;
}
.mensajes_error h1{
    font-size: 2rem;
}
.mensajes_error h4{
    font-size: 1.2rem;
}

/*Sombreo para el texto copiado*/
.resaltar{
   background-color: var(--color-secundario);
   color: var(--color-fondo);
   transition: background-color 0.5s ease;
}

/*ESTILOS DEL PIE DE PAGINA*/
.footer {
    color: var(--color-auxiliar2);
    text-align: center;
    padding: 0.5rem;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    background-color: var(--color-principal);
    width: 100%;
    bottom: 0;
    font-size: 0.8em;
    height: 2.2rem;
}


/*RESPONSIVE*/

@media(max-width:768px){
    .container{
        flex-direction: column;
        justify-content: space-around;
    }
    .container_campotexto{
        min-height: 75%;
        justify-content: space-around;
    }
    .container_texto{
        min-width: 95%;
        margin-top: 90px;
        background-image: none;
    }
    .informacion_general{
        color: var(--color-auxiliar3);
        font-size: 1em;
        margin-top: 20px;
    }
    
  
    /*Estilos de botones*/
    .botones{
        display: flex;
        justify-content: center;
        width: 100%;
        column-gap: 25px;
        padding-bottom: 2%;
    }
    .texto{
        background: none;
        color: var(--color-secundario);
    }
    .container_mensajeresultado{
        width: 90%;
        min-height: 50%;
        background-image: url('imagenes/encrip.png');
    }
    .mensaje_resultado{
        background-image: none;
        width: 100%;
        height: 180px;
    }
    
    .muneco{
        display: none;
    }
    .boton_copiar{
        width: 100%;
    }
 
  
}
@media(max-width:375px){
    .botones{
        flex-direction: column;
    }
    .informacion_general{
    font-size: 0.9em;
    }
}

